// -----------------------------------------
	// Fonts
// -------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;

// -----------------------------------------
	// Font Sizes
// -------------------------------------------
$regularSize:12px;
$productHeading:28px;
$productBannerHeading:25px;